.mixin.out/
.cache/
.probe/
.vscode/
cosmetics/
crash-reports/
data/fabricDefaultResourcePacks.dat
data/surveyor/
debug/
defaultconfigs/
downloads/
dynamic-data-pack-cache/
dynamic-resource-pack-cache/
fancymenu_data/
local/
logs/
moddata/
schematics/
screenshots/
sdlinkstorage/
saves/
Distant_Horizons_server_data/
mods/mcef-cache/
mods/mcef-libraries/
mods/.connector/
ESM/
shaderpacks/ComplementaryReimagined_r5.6.1 + EuphoriaPatches_1.7.2
debug.log
command_history.txt
fabricloader.log
immersivetips.json
servers.dat
supportercache.json
usercache.json
usernamecache.json
*.bak
*.log
datapacks/
excluded_server_mods.txt
optional_mods.txt
options.txt
attributes.txt
config/crash_assistant/