.mixin.out/
.cache/
.probe/
.vscode/
cosmetics/
crash-reports/
data/fabricDefaultResourcePacks.dat
data/surveyor/
debug/
defaultconfigs/
downloads/
dynamic-data-pack-cache/
dynamic-resource-pack-cache/
fancymenu_data/
local/
logs/
moddata/
schematics/
screenshots/
sdlinkstorage/
saves/
Distant_Horizons_server_data/
mods/mcef-cache/
mods/mcef-libraries/
mods/.connector/
ESM
command_history.txt
fabricloader.log
immersivetips.json
servers.dat
supportercache.json
usercache.json
usernamecache.json