.mixin.out/
.cache/
.probe/
.vscode/
cosmetics/
crash-reports/
data/fabricDefaultResourcePacks.dat
debug/
defaultconfigs/
downloads/
dynamic-data-pack-cache/
dynamic-resource-pack-cache/
fancymenu_data/
local/
logs/
moddata/
schematics/
screenshots/
sdlinkstorage/
saves/
command_history.txt
fabricloader.log
immersivetips.json
servers.dat
supportercache.json
usercache.json
usernamecache.json